body {
    background-color: #2A363B;
    font-family: 'Roboto', sans-serif;
}



.frontpagecontainer {
    padding: 12em;
}

.nameHeader {
    color: #fff;
    font-weight: 100;
}

.pageTitle {
    color: #fff;
    font-weight: 100;
    padding-top: 1em;
    padding-bottom: 2em;
}


.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
}

.mynavbar {
    padding-top: 3em;
    padding-bottom: 1em;
    background-color: #F5AA0A;
    position: absolute;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /*box-shadow: -2px 2px 3px rgba(0,0,0,0.4);*/
}

#navbarContainer  {
    width: 300px;
    position: fixed;
    z-index: 100; /*fix on top above carousel*/
    padding-left: 10em;
    left: calc(50% - 150px);
}

.nav-link {
    padding: .30rem 0;
    font-weight: bold;
    color: rgba(255,255,255,0.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-link:hover {
    color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    text-decoration: none;
}

.nav-link:focus {
    color:  #fff;
    border-bottom-color:  #fff;
    text-decoration: none;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.nav-link + .nav-link {
    margin-left: 1em;
}
/* for contact list*/
.glyphicon {
    color: #fff;
}

.details li {
    list-style: none;
}
li {
    margin-bottom:10px;
    color: #fff;
}

/* for linkedin icon*/
.myglyphicon {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.myglyphicon + a {
    margin-left: 36px;
}
/* for linkedin link*/
#linedinLink {
    color: #fff;
}

#linedinLink:hover {
    color: rgba(255,255,255,.5);
}

.contactcontainer {
    width: 350px;
}
/* for download button */
.mybtn {
    width: 150px !important;
    height: 150px !important;
    border:0px solid transparent; /* this was 1px earlier */
}

.glyphicon.glyphicon-file {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    font-size: 75px;
    color: #27588C;
}

#DownloadButton {

}

#btnText {
    color: #27588C;
}
/* for color stripes*/
.stripesContainer {
    display:flex;
    position: absolute;
    z-index: 1;
}

.stripe1 {
    width: 1rem;
    height: 800px;
    background-color: #F5AA0A;
}
.stripe2 {
    pad-left: 1rem;
    width: 1rem;
    height: 800px;
    background-color: #EB8B11;
}
.stripe3 {
    pad-left: 2rem;
    width: 1rem;
    height: 800px;
    background-color: #AE354C;
}
.stripe4 {
    pad-left: 3rem;
    width: 1rem;
    height: 800px;
    background-color: #27588C;
}

/* for resume section */

.resumeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intermediateContainer {
    width: 500px;
    height: auto;
}

.leftContainer {
    display:flex;
    align-items: center;
}

.verticalStripe {
    width: 2px;
    height: 300px;
    background-color: #fff;
}

.leftContainer ul {
    text-align: left;
}

.leftContainer li {
    list-style: none;
}
li {
    margin-bottom:10px;
    color: #fff;
}

