body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

/* :root{
    transition: all 0.5s linear;
} */

.light-mode{
    --text-color: #2A363B;
    --text-color-light: #46575e;
    --background-color: #2A363B;
    --paper-texture: url("images_resources/paper_texture.jpg");
    --paper-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --paper-opacity: 1;
    --paper-border: 1.5px solid #bcb7ae;
    --leather-texture: url("images_resources/leather.jpg");
    --leather-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --leather-border: 2.5px solid #221c18;
    --postit-background: linear-gradient(to right, #e19c48 35%, #efb86c 100%);
    --postit-hover: linear-gradient(to right, #e19c48 0%, #e19c48 100%);
    --postit-shadow: 1px 2px 1px -1px #777;
    --postit-text-color: darkslategray;
    --id-shadow: None;
    --id-border: 1.5px solid #bcb7ae;
    --navbar-text-color: rgba(0,0,0,0.5);
    --navbar-text-shadow:  -0.5px -0.5px 0.5px rgba(0,0,0,0.5),
                           0.5px 0.5px 0.5px rgba(154, 131, 119, 0.7);
    --frosted-glass-background: rgba(255, 255, 255, 0.15);
    --frosted-glass-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);   
    --frosted-glass-border: 1.5px solid rgba(149, 149, 149, 0.5);    
    --fishes-image: url("images_resources/fish.png");
    transition: all 0.5s linear;
}

.dark-mode{
    --text-color: #21222a;
    --text-color-light: #46575e;
    --background-color: #21222a;
    --paper-texture: url("images_resources/paper_texture_dark.jpg");
    --paper-shadow: 0em 50px 100px -5px rgba(254, 238, 190, 0.3),
                    0em 0em 2em 0em #8b5d29,
                    0em 0em 50em 0em #82571f;
    --paper-opacity: 0;
    --paper-border: 1.5px solid #454350;
    --leather-texture: url("images_resources/leather_dark.jpg");
    --leather-shadow: 0em 10px 30px -5px rgba(254, 238, 190, 0.3),
                        0em 0em 1em 0em #8b5d29,
                        0em 0em 10em 0em #82571f;
    --leather-border: 2.5px solid #3d2f21;
    --postit-background: radial-gradient(#b18747, #a16d4a 10%, transparent), linear-gradient(to right, #5e492f 35%, #4d453c 100%);
    --postit-hover: radial-gradient(#b18747, #a16d4a 10%, transparent), linear-gradient(to right, #5e492f 0%, #5e492f 100%);
    --postit-shadow: 0em 50px 100px -5px rgba(254, 238, 190, 0.3),
                        0em 0em 2em 0em #8b5d29,
                        0em 0em 50em 0em #82571f;
    --postit-text-color: rgb(24, 31, 31);
    --id-shadow: 0em -0.5em 50px -5px rgba(254, 238, 190, 0.5),
                    0em -1em 2em 0em rgb(149, 112, 70, 0.5),
                    0em -1em 50em 0em rgb(135, 103, 62, 0.5);
    --id-border: 1.5px solid #bcb7ae;
    --navbar-text-color: #d4ad81; 
    --navbar-text-shadow:  -0.5px -0.5px 3px #b18747,
                            0.5px 0.5px 0.5px rgba(154, 131, 119, 0.7);
    --frosted-glass-background: radial-gradient(rgb(177, 135, 71, 0.8) , rgb(161, 109, 74, 0.8), transparent);
    --frosted-glass-shadow: 0em 0em 3em 0em rgb(166, 116, 60, 0.5);
    --frosted-glass-border: 1.5px solid rgba(199, 146, 85, 0.5);
    --fishes-image: url("images_resources/fish_dark.png");
    transition: all 0.5s linear;
}



/* main containers */
.container-fluid {
    position: relative;
    padding-top:50px;
    height:800px;
    color: #fff;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: var(--paper-shadow);
    background-color: #dcd5ca;
    border-bottom: var(--paper-border);
    transition: box-shadow 0.5s linear,
                border-bottom 0.5s linear;
}

.container-fluid:before, .container-fluid:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: var(--paper-opacity);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.container-fluid:before {
    background-image: url(images_resources/paper_texture.jpg);
    z-index: -1;
    transition: opacity 0.5s linear;
}

.container-fluid:after {
    background-image: url(images_resources/paper_texture_dark.jpg);
    z-index: -2;
    opacity: 1;
}

/* overlap and order containers*/
#About{
    /* background-image: url("images_resources/sketch_01.png"), var(--paper-texture); */
    /* background-position: right bottom, top;
    background-repeat: no-repeat, repeat;
    background-size: 35%, cover;  */
    z-index: 5;
}
#Resume{
    /* background-image:  url("images_resources/sketch_02.png"), var(--paper-texture); */
    /* background-position: left bottom, bottom;
    background-repeat: no-repeat, repeat;
    background-size: 37%, cover; */
    top: -50px; 
    z-index: 4;
}
#Portfolio{
    top: -100px;
    z-index: 3;
}
#Contact{
    /* background-image:  var(--fishes-image), var(--paper-texture); */
    /* background-position: bottom, bottom;
    background-repeat: no-repeat, repeat;
    background-size: 90%, cover; */
    top: -150px;
    z-index: 2;
}

.imageCircle{
    border-top: var(--id-border);
    border-radius: 50%;
    width: 180px;
    height: 180px;
    box-shadow: var(--id-shadow);
    transition: border-top 0.5s linear,
                box-shadow 0.5s linear;
}

.nameHeader {
    color: var(--text-color);
    font-weight: 100;
    transition: color 0.5s linear;
}

.pageTitle {
    color: var(--text-color);
    font-weight: 100;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: color 0.5s linear;
}

/* navigation bar */
.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
}

.mynavbar {
    position: absolute;
    justify-content: center; 
    align-items: center;

    background-color: #4b352a;
    background: var(--leather-texture);
    background-size: 150%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: var(--leather-shadow);
    border-bottom: var(--leather-border);
    transition: box-shadow 0.5s linear,
                border-bottom 0.5s linear;
}

.mynavbarStitch {
    text-shadow:
        -0.5px -0.5px 0.5px rgba(0,0,0,0.5),
        0.5px 0.5px 0.5px rgba(154, 131, 119, 0.5);
    color: rgba(0,0,0,0.5);
}

#navbarContainer  {
    --navbar-width: 350px;
    width: var(--navbar-width);
    position: fixed;
    z-index: 100; /*fix on top above carousel*/
    left: calc(50% - var(--navbar-width)/2); 
}

.nav-link {
    display: inline-block; /* Ensures links behave like inline elements */
    margin: 0 10px; /* Adds space between links */
    padding: .30rem 0;
    font-family: "Coustard", serif;
    font-weight: 400;
    font-size: x-small;
    font-style: normal;
    color: var(--navbar-text-color);
    text-shadow: var(--navbar-text-shadow);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    text-underline-offset: 8px;
    transition: color 0.5s linear,
                text-shadow 0.5s linear;
}

.nav-link:hover {
    color: var(--navbar-text-color);
    text-decoration: underline;
}

.nav-link:focus {
    color: var(--navbar-text-color);
    text-decoration: none;
    text-decoration: underline;
}

.nav-masthead .active {
    color: var(--navbar-text-color);
    text-decoration: underline;
}


.sketch-container {
    display: inline-block;
    position: absolute;
    right: 0px;
  }

/* for contact list*/
.glyphicon {
    color: var(--text-color);
    transition: color 0.5s linear;
}

.details li {
    list-style: none;
}
li {
    margin-bottom:10px;
    color: var(--text-color);
    transition: color 0.5s linear;
}

/* for linkedin icon*/
.myglyphicon {
    /* -webkit-filter: invert(1); */
    /* filter: invert(1); */
    filter: invert(17%) sepia(20%) saturate(554%) hue-rotate(152deg) brightness(93%) contrast(88%);
}

.myglyphicon + a {
    margin-left: 36px;
}
/* for linkedin link*/
#linedinLink {
    color: var(--text-color);
}

#linedinLink:hover {
    color: var(--text-color-light);
}

.contactcontainer {
    width: 350px;
}


/* for resume section */
.horizontalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intermediateContainer {
    width: 600px;
    height: auto;
}

.leftContainer {
    display: flex;
    align-items: center;
}

.verticalStripe {
    width: 2px;
    height: 300px;
    background-color: var(--text-color);
    transition: background-color 0.5s linear;
}

.leftContainer ul {
    text-align: left;
}

.leftContainer li {
    list-style: none;
}

/* for light effect */
.backdrop {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
    mix-blend-mode: multiply;
    mask-image: linear-gradient(white, transparent 90%); 
}
.backdrop > * {
    grid-area: 1/1;
  }

.lightShapes {
    color: transparent; 
    background-color: rgba(0, 0, 0, 0.2); /* Use alpha transparency */
    text-shadow: 0 0 50px #fff; /* Blurry white shadow */
    font: bold 800pt/320pt monospace;
    mix-blend-mode: multiply;
    filter: brightness(1.1);
    overflow: visible;
}

.lightShapes:nth-of-type(1){
    animation: 2s ease-in-out infinite alternate move; 
}
.lightShapes:nth-of-type(2){
    animation: 4s ease-in-out infinite alternate move-1;
}

.lightImage {
    height: 100%;
    width: 100%;
    scale: 1.3;
}
  
@keyframes move {
from {
    text-indent: -20px;
}
to {
    text-indent: 20px;
}
}
@keyframes move-1 {
from {
    text-indent: -60px;
}
to {
    text-indent: 40px;
}
}

 /* for chrome */
 @supports (-webkit-app-region:none) {
    .lightShapes {
      text-shadow: 0 0 14px white;
    }
  }

/* for download button */
.glyphicon.glyphicon-file {
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 75px;
    color: var(--postit-text-color);
    transition: color 0.5s linear;
}

a:hover {
    text-decoration: none;
    color: var(--postit-text-color);
  }
  
a:active {
    text-decoration: none;
    color: var(--postit-text-color);
}

a:focus {
    text-decoration: none;
    color: var(--postit-text-color);
}

.postit {
    width: 170px;
    display: block;
    height: 170px;
    position: relative;
    border-radius: 3px;
    background: var(--postit-background);
    margin-bottom: 40px;
    padding: 15px 25px 0 40px;
    color: var(--postit-text-color);
    box-shadow: var(--postit-shadow);
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    transition: background 200ms ease-in-out,
                box-shadow 0.5s linear;
  }
  
.shadow {
    position: relative;
}
.shadow:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 13px;
    right: 7px;
    width: 25%;
    top: 0;
    box-shadow: 0 15px 10px #777;
    transform: rotate(4deg);
    transition: all 150ms ease-in-out;
}

.postit:hover {
    background: var(--postit-hover);
}

.shadow:hover::before {
    transform: rotate(0deg);
    bottom: 20px;
    z-index: -10;
}
  
.frostedGlass{
    border-radius: 1.5em;
    background: var(--frosted-glass-background);
    box-shadow: var(--frosted-glass-shadow);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    padding: 1.2em;
    border-bottom: var(--frosted-glass-border);
    transition: background 0.5s linear,
                box-shadow 0.5s linear,
                border-bottom 0.5s linear;
} 

/* Toggle */
.toggle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .5em;
    padding: .125em;
    /* background-image: linear-gradient(to bottom, #d0c4b8, #f5ece5); */
  }

.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 1;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.toggle-container {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 0.5em;
    width: 2em;
    height: 1em;
    background-image: radial-gradient(#aeaeae, #646464 );
    border-top: 2px solid #221c18;

    .toggle-checkbox:checked + & {
        background-image: radial-gradient(#d4a867, #a16d4a );
    }
}

.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: .08em;
    border-radius: .4em;
    width: 0.8em;
    height: 0.8em;
    background-color: #e4ddcf;
    transition: left .4s cubic-bezier(.65, 1.35, .5, 1);
    border-bottom: 1px solid #a49f96;

    .toggle-checkbox:checked + .toggle-container > & {
        left: 1.12em;
    }
}
